/* Header.module.css */
.navbar {
  position: sticky;
  width: 85%;
  margin: 1rem auto; /* Center the navbar horizontally */
  padding: 0.5rem 1.5rem;
  background: rgba(157, 157, 255, 0.3);
  border-radius: 40px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border: 1px solid rgba(157, 157, 255, 0.3);
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  font-family: var(--font-secondary);
  color: var(--color-primary);
  font-size: 1.5rem;
  font-weight: bold;
}

.navCollapse {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navLink {
  color: var(--color-text) !important;
  font-weight: 500;
  margin: 0 0.6rem;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
  text-decoration: none !important;
}

.navLink::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-secondary)
  );
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.navLink:hover {
  color: var(--color-primary) !important;
}

.navLink:hover::after {
  transform: translateX(0);
}

.talkToUsButton {
  margin-right: 1rem;
  background: linear-gradient(
    45deg,
    var(--color-primary),
    var(--color-secondary)
  );
  border: none;
  color: var(--color-background);
  padding: 0.5rem 1.5rem;
  border-radius: 50px;
  font-weight: bold;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.logo {
  margin-right: 6rem;
  margin-left: 1rem;
}

.talkToUsButton:hover {
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

/* Hamburger icon styling for small screens */
.hamburgerIcon {
  display: none;
  font-size: 1.5rem;
  color: var(--color-text);
  cursor: pointer;
}

.navCollapse {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.showMenu {
  display: block !important;
}

/* Responsive Design for smaller screens */
@media (max-width: 991px) {
  .navbar {
    border-radius: 20px;
  }

  .navCollapse {
    display: none;
    flex-direction: column;
    background: rgba(157, 157, 255, 0.8);
    padding: 1rem;
    border-radius: 20px;
    position: absolute;
    top: 60px; /* Adjust based on your navbar height */
    left: 0;
    right: 0;
    z-index: 10;
    text-align: center;
  }

  .hamburgerIcon {
    display: block;
  }

  .nav {
    display: flex;
    flex-direction: column; /* Set flex direction to column */
    gap: 1rem;
    align-items: center; /* Center the links */
  }

  .navLink, 
  .talkToUsButton {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
  }

  .showMenu {
    display: flex;
  }

  .logo {
    margin-right: auto;
    margin-left: 1rem;
  }
}
